<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<script type="text/javascript">
		
	</script>
	<style type="text/css">
		body{
			margin:auto;
			width: 600px;

			background: black;


		}
		#box{
			
			border:2px solid black;
			height: 600px;
			background: #1abc9c;
			color: white;
		}
		h1{
			padding-left: 150px;
			color: black;
		}
		h3{
			font-family: sans-serif;
			font-size: 20px;
		}

		
	</style>
</head>
<body>
	<div id="box">
		<p><h1>ABOUT THE APP</h1></p>
		<p><h3>THIS WEBAPP GIVES YOU THE FREEDOM TO WRITE WHATEVER IT IS THAT YOU WANT TO WRITE AS AN ARTICLE.YOU CAN ALSO CHECKOUT THE WRITINGS OF DIFFERENT USERS .YOU WILL BE WRITING UNDER YOUR PEN NAME, WHICH IS YOUR USERNAME.FOR OFFENSIVE CONTENT ,IF REPORTED THRICE,REPORTED USER SHALL BE REMOVED .</h3></p>

		
	</div>


</body>
</html>