<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<style type="text/css">
		#box{
			width: 600px;
			margin: auto;
			border:  solid black 3px;
			height: 500px;
			background-color: lightblue;
			padding-top: 90px;
			padding-left: 100px;

		}
		#login{
			border-radius: 25px;
			background: white;
			width:200px;
			height: 50px;
			border: none;
		}
		#center{
			padding-left: 200px;
		}
		#submit{
			border: none;
			width: 100px;
			height: 50px;
		}
		

	</style>
</head>
<body>
	<div id="box">
		<h1 id="center">LOGIN </h1>
		<div class="input">
			<form action="checklogin" method="post">
			<p><label  for="login"><h2>Username:</h2></label></p>
			<p><input id="login"  type="text" name="username"></p>
			<p><label for="password"><h2>Password:</h2></label></p>
			<p><input id="login" type="password" name="password"></p>
			<p><input id="submit" type="submit" name="" value="LOGIN"></p>
		</form>
		</div>
		
	</div>



</body>
</html>