<!DOCTYPE html>
<html>
<head>
	<title>report</title>
	<style type="text/css">
		body{
			margin:auto;
			width: 600px;

			background: black;


		}
		#box{
			
			border:2px solid black;
			height: 600px;
			background: #1abc9c;
			color: white;
		}
		#username{
			height: 45px;
			width:200px;
		}
		#report{
			height: 200px;
			width: 200px;
			padding-bottom:60px;
		}

		
	</style>
</head>
<body>
	<div id="box">
		<form action="report" method="post">
		<h1>enter the username:</h1>
		<input id="username" type="text" name="reportuser">
		<h1>The reason for report:</h1>
		<input id="report" type="text" name="report">
		<p><input type="submit" name=""></p>
	</form>

		

	</div>

</body>
</html>